<!doctype html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="icon" href="../static/images/favicon.ico" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon-180x180.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block customcss %}
    {% endblock customcss %}

    {% block customcss1 %}
    {% endblock customcss1 %}


    <title>Blearn</title>
  </head>

  <body>
    
    <div class=" fixed-top">
      {% block header %}
      {% endblock header %}
    </div>
    
    {% block content %}
    
    {% block category %}
    {% endblock category %}
    
    {% block main %}
    {% endblock main %}
    
    {% endblock content %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
